In [1]:
import pandas as pd
df = pd.DataFrame({'A': ['123','adsdf','A','Sea'],
                  'b': ['53$','Gbd','POP','B']})
df

       A    b
0    123  53$
1  adsdf  Gbd
2      A  POP
3    Sea    B

In [3]:
df.A.str.lower()

0      123
1    adsdf
2        a
3      sea
Name: A, dtype: object

In [5]:
df == 'A'

       A      b
0  False  False
1  False  False
2   True  False
3  False  False

In [8]:
df.A.str.len()

0    3
1    5
2    1
3    3
Name: A, dtype: int64